body,html{
    background-color: #EBEBEB;
    padding: 0;
    margin: 0;
    height:100%;
}
body {
    font: 14px/1.5 "PingFang SC","Lantinghei SC","Microsoft YaHei","HanHei SC","Helvetica Neue","Open Sans",Arial,"Hiragino Sans GB","微软雅黑",STHeiti,"WenQuanYi Micro Hei",SimSun,sans-serif;
}


.title-content a{
    text-decoration:none;
}
.stats-buttons  a{
    text-decoration:none;
}

a {
    color: inherit;
    outline: 0;
}

.designer-card img {
    border-radius: 50%;
    vertical-align: middle;
}
img {
    border: 0;
}
a {
    color: inherit;
    outline: 0;
}
a:-webkit-any-link {
    cursor: pointer;

}


.foot-nav-col li{
    list-style: none;
    margin-left: 70px;
}
.foot-nav-col h3{
    margin-left:90px;
}
.foot-nav-col a{
    text-decoration:none;
    color:grey;

}
.foot-nav-col a:link,a:visited { color:grey;}
.foot-nav-col a:hover,a:active { color: #6318ff;}

.foot-nav-col{
    margin-top: 10px;
    float: left;
}

.author img {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    padding: 0;
    margin-right: 10px;
}
fieldset, img {
    border: 0;
}
.author a, .author span {
    float: left;
    font-size: 14px;
    font-weight: 700;
    line-height: 35px;
    color: #9b8878;
    text-decoration: none;
}



.glyphicon glyphicon-edit{
    float: left;
    width: 43px;
    height: 42px;
    border: 1px solid #d6d6d6;
    border-right: none;
    cursor: pointer;

}
.tab li{list-style:none}
.table tr:hover{background-color: #dafdf3;}
